@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url('TimesNewRomanPSMT.eot');
  src: url('TimesNewRomanPSMT.woff2') format('woff2'),
       url('TimesNewRomanPSMT.woff') format('woff'),
       url('TimesNewRomanPSMT.ttf') format('truetype'),
       url('TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg'),
       url('TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

